
:root {

  --sky: #C4E3E9;
  --blue: #134B8A;
  --darkblue: #OF1E56;
  --main3: #C3BEBB;
  

}

.size--icon{
  /* width: clamp(2rem, 3vw, 3rem); */
  /* width: 30vw; */
}


.item-ali-cen{
  align-items: center;
}

.display-f{
  display: flex;
}
/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
